body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
   max-width: 1340px;
    margin:0 auto;
}

.main-image{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../image/Banner.png');
    margin-top: 50px;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    overflow: hidden;
   
    
}

.container{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
    font-size: 32px;

}

.container h1 span{
    margin: 0;
    font-size: 32px;
}

.cen{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    

}